.post{
    visibility: visible;
    background:  var(--gray-700);
    border-radius: 8px;
    padding: 2.5rem;
    
}

.post + .post{
    margin-top: 2rem;
    border-top: 1px solid var(--white);
}

.post > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postcontent {
    margin-top: 1rem;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}